<h1><%=@team.name%></h1>
<br>
<h2><%=@team.motto%></h2>
<br>
<% @heros.each.with_index do |hero, index| %>
  <h2>Hero Name: <%= @name[index] %></h2>
  <p>
    Hero power: <%= @power[index] %>
    <br>
    Hero biography: <%= @bio[index] %>
  </p>
<% end %>
